<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net452" />
  <package id="ASquare.WindowsTaskScheduler" version="1.6.0.0" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="4.0.2" targetFramework="net461" />
  <package id="Glass.ExtendedWPFToolkit" version="1.1.0.5" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.32" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Azure.ActiveDirectory.GraphClient" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Graph" version="1.14.0" targetFramework="net452" />
  <package id="Microsoft.Graph.Core" version="1.14.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.20211.12000" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="SharePointPnP.IdentityModel.Extensions" version="1.2.4" targetFramework="net452" />
  <package id="SharePointPnPCore2016" version="3.23.2007" targetFramework="net452" requireReinstallation="true" />
  <package id="SharePointPnPCoreOnline" version="3.23.2007" targetFramework="net452" requireReinstallation="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.4" targetFramework="net452" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net452" />
  <package id="WpfAnimatedGif" version="2.0.0" targetFramework="net461" />
</packages>