<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="r2rDbConStr" value="Data Source=c1w28278.itcs.hpicorp.net;Initial Catalog=PdmDB;Persist Security Info=True;User ID=sa;Password=omni1234$$;" />
    <add key="r2rTemplate1" value="C:\R2R\Templates\r2rTemplate" />
    <add key="r2rOutput" value="C:\R2R\Output" />
    <add key="r2rNArrange" value="C:\R2R\NArrange 0.2.9" />

    <add key="recentFile1" value="..." />
    <add key="recentFile2" value="..." />
    <add key="recentFile3" value="..." />
    <add key="recentFile4" value="..." />
    <add key="recentFile5" value="..." />

  </appSettings>

</configuration>